@charset "UTF-8";
.cards {
  display: flex;
  justify-content: space-between;
}
.cards .card {
  background: #312f30;
  max-width: 263px;
  min-height: 323px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cards .card__img img {
  max-width: 100%;
}
.cards .card__text {
  text-align: center;
  padding-left: 19px;
  padding-right: 19px;
}
.cards .card__text h2 {
  font-size: 1.25rem;
  line-height: 23px;
}
.cards .card__text .card__summary {
  font-weight: 400;
  opacity: 0.7;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  color: white;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 16px;
}

li {
  list-style: none;
  color: white;
}

h1 {
  font-size: 3.563rem;
  line-height: 67px;
  margin-top: 7px;
}

div {
  line-height: 18.75px;
}

.header {
  background-image: url(../img/header_burger.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.header__wrap {
  margin: 0 auto;
  max-width: 1143px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  opacity: 0.7;
}
.header__nav__menu__link {
  transition: font-size 0.2s linear;
}
.header__nav__menu__link:hover {
  font-size: 1rem;
}

.header__nav__btn button {
  color: white;
  background: #f6762c;
  padding: 13px 36px;
  border-radius: 5px;
  border-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  transition: font-size 0.2s linear, padding 0.2s linear;
}
.header__nav__btn button:hover {
  font-size: 1.25rem;
  padding: 20px 38px;
}
.header__nav__btn .btn {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__content {
  margin-top: 185px;
  margin-bottom: 241px;
  animation-name: show;
  animation-duration: 0.7s;
  animation-timing-function: linear;
}
.header__content__wrap {
  max-width: 555px;
}
.header__content__btn {
  margin-top: 42px;
}
.header__content__btn button {
  color: white;
  background: #f6762c;
  padding: 13px 36px;
  border-radius: 5px;
  border-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  transition: font-size 0.2s linear, padding 0.2s linear;
}
.header__content__btn button:hover {
  font-size: 1.25rem;
  padding: 20px 38px;
}
@keyframes show {
  from {
    margin-left: -400px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

.header__content__text :last-child {
  font-size: 1.125rem;
  line-height: 21px;
  opacity: 70%;
}

.section__cards {
  background: #1c1c1c;
}
.section__cards__content {
  max-width: 1143px;
  padding: 110px 0;
  margin: 0 auto;
}

.section__order {
  background: #312f30;
}
.section__order__wrap {
  max-width: 1143px;
  margin: 0 auto;
}
.section__order__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__order__content__text {
  max-width: 371px;
}
.section__order__content__text__cost {
  color: #f6762c;
  font-size: 1.25rem;
}
.section__order__content__text__cost span:last-child {
  text-decoration-line: line-through;
  opacity: 0.5;
  font-size: 1rem;
}
.section__order__content__text .section__order__content__text__btn {
  padding-top: 13px;
}
.section__order__content__text .section__order__content__text__btn button {
  color: white;
  background: #f6762c;
  padding: 13px 36px;
  border-radius: 5px;
  border-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  transition: font-size 0.2s linear, padding 0.2s linear;
}
.section__order__content__text .section__order__content__text__btn button:hover {
  font-size: 1.25rem;
  padding: 20px 38px;
}

.section__order__content__text h2 {
  font-size: 2.763rem;
  margin-bottom: 24px;
}
.section__order__content__text__opacity {
  opacity: 0.7;
  margin-bottom: 13px;
}

.section__product {
  background: #1c1c1c;
}
.section__product__wrap {
  max-width: 1143px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 190px;
}
.section__product__container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.section__product__content {
  min-width: 555px;
  min-height: 300px;
}
.section__product__content__text h2 {
  font-size: 1.875rem;
  line-height: 35.16px;
}
.section__product__content__text .wrapper {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.section__product__content__text .wrapper__oppacity {
  opacity: 0.7;
}
.section__product__content__text .wrapper__cost {
  display: flex;
  gap: 10px;
  color: #f6762c;
}
.section__product__content__text .wrapper__cost span:last-child {
  text-decoration-line: line-through;
  opacity: 0.5;
}
.section__product__content__text .wrapper__btn {
  font-size: 0.75rem;
}
.section__product__content__text .wrapper__btn button {
  color: white;
  background: #f6762c;
  padding: 13px 36px;
  border-radius: 5px;
  border-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  transition: font-size 0.2s linear, padding 0.2s linear;
}
.section__product__content__text .wrapper__btn button:hover {
  font-size: 1.25rem;
  padding: 20px 38px;
}
.section__product .first {
  background: url(../img/dairy_queen.png);
}
.section__product .first .section__product__content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section__product .first .section__product__content__text .wrapper {
  max-width: 263px;
  padding-top: 35px;
}
.section__product .second {
  background: url(../img/pizza.png);
}
.section__product .second .section__product__content__text {
  display: flex;
  flex-direction: column;
}
.section__product .second .section__product__content__text .wrapper {
  max-width: 252px;
  padding-top: 35px;
  padding-left: 35px;
}
.section__product .third {
  background: url(../img/burger_king.png);
}
.section__product .third .section__product__content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section__product .third .section__product__content__text .wrapper {
  max-width: 263px;
  padding-top: 35px;
}
.section__product .fourth {
  background: url(../img/papa_john’s.png);
}
.section__product .fourth .section__product__content__text {
  display: flex;
  flex-direction: column;
}
.section__product .fourth .section__product__content__text .wrapper {
  max-width: 252px;
  padding-top: 35px;
  padding-left: 35px;
}

.feedback {
  max-width: 851px;
  margin: 0 auto;
  padding-bottom: 203px;
}
.feedback__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback__wrap__content {
  position: relative;
  height: 346px;
  width: 346px;
  border: 1px dashed #f6762c;
  border-radius: 50%;
}
.feedback__wrap__content::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px dashed #f6762c;
  border-radius: 50%;
  transform: scale(0.7);
}
.feedback__wrap__content .face {
  position: absolute;
  overflow: hidden;
  z-index: 2;
}
.feedback__wrap__content .face_one {
  top: 44px;
  left: -19px;
}
.feedback__wrap__content .face_one img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.feedback__wrap__content .face_two {
  bottom: -8.28px;
  left: 56.78px;
}
.feedback__wrap__content .face_two img {
  width: 77.22px;
  height: 77.22px;
  border-radius: 50%;
}
.feedback__wrap__content .face_three {
  top: 15%;
  left: 15%;
}
.feedback__wrap__content .face_three img {
  border-radius: 50%;
}
.feedback__wrap__content .face_four {
  top: -5.98px;
  right: 40.26px;
}
.feedback__wrap__content .face_four img {
  width: 70.98px;
  height: 70.98px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback__wrap__content .face_five {
  right: 10px;
  bottom: 41.8px;
}
.feedback__wrap__content .face_five img {
  width: 74.83px;
  height: 74.83px;
  border-radius: 50%;
}
.feedback__wrap__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 368px;
}
.feedback__wrap__text__commas {
  position: relative;
  padding-bottom: 37px;
}
.feedback__wrap__text .text {
  opacity: 0.7;
  text-align: center;
  font-weight: 400;
  padding-bottom: 27px;
}
.feedback__wrap__text h2 {
  margin: 0;
  padding-bottom: 2px;
}
.feedback__wrap__text span {
  opacity: 0.7;
  font-size: 0.75rem;
  line-height: 14px;
}

.section__download {
  background: #312f30;
}
.section__download__wrap {
  width: 1140px;
  margin: 0 auto;
  padding: 62px 0;
}
.section__download__wrap__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__download__wrap__content div {
  font-size: 2.5rem;
  line-height: 46.88px;
}
.section__download__wrap__content__btn button {
  color: white;
  background: #f6762c;
  padding: 13px 36px;
  border-radius: 5px;
  border-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  transition: font-size 0.2s linear, padding 0.2s linear;
}
.section__download__wrap__content__btn button:hover {
  font-size: 1.25rem;
  padding: 20px 38px;
}

.footer {
  background: #1c1c1c;
}
.footer__wrap {
  width: 1140px;
  margin: 0 auto;
  padding-top: 86px;
  padding-bottom: 140px;
}
.footer__wrap__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 92px;
}
.footer__wrap__content__contacts {
  display: flex;
  flex-direction: column;
}
.footer__wrap__content__contacts__email {
  opacity: 0.8;
  padding-bottom: 9px;
}
.footer__wrap__content__contacts__global {
  opacity: 0.8;
}
.footer__wrap__content__col__menu {
  display: flex;
  justify-content: space-between;
  gap: 158px;
  margin: 0;
  padding: 0;
}
.footer__wrap__content__col__menu .desc__menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0.8;
  padding-left: 0;
  padding-top: 14px;
  font-size: 0.75rem;
}
.footer__wrap__content__col__menu .desc__menu a {
  font-size: 0.75rem;
}
.footer__wrap__content__col__menu .desc__menu__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 0;
  padding-top: 14px;
}
.footer__wrap__content__col__menu .desc__menu__list img {
  object-fit: none;
}

/*# sourceMappingURL=styles.css.map */
